* {
    font-family: Tahoma;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("http://anhbiafb.com/uploads/ctv_3/FILE-20170901-1420WDJFDVM6D8KL.jpg");
    background-size: cover;
}

#header {
    width: 100%;
    height: 70px;
    background: rgba(76,76,76,.5);
    position: sticky;
    top: 0;
    padding: 0 80px;
}
#header #logo h1{
    color: white;
    margin: 0;
}
#header #logo{
    width: 50%;
    float: left;
    line-height: 70px;
}
#menu {
    height: 100%;
    width: 50%;
    float: left;
    line-height: 70px;
    font-family: Tahoma;
    font-size: 16px;
    text-align: right;
}

#menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#menu ul li {
    display: inline;
    margin-right: 25px;
    margin: 0;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s, background 0.3s;
}

#menu ul li a:hover {
    color: #fff;
    background-color: rgba(144, 159, 167, 0.64);

}

.song-item {
    border: 1px solid rgba(13, 23, 20, 0.2);
    border-radius: 10px;
}

.song-item:after {
    content: '';
    clear: both;
    display: table;
}

.song-index {
    float: left;
    width: 5%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-left: 1%;
}

.song-thumbnail {
    float: left;
    width: 10%;
}

.song-thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.song-infor {
    padding-top: 1%;
    float: left;
    width: 20%;
}

.song-infor .song-name {
    font-weight: bold;
}

.song-infor .song-singer {
    font-weight: lighter;
    color: rgba(0, 0, 23, 0.47);
}

.song-control {
    padding-top: 3%;
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
    float: left;
    width: 10%;
}

.song-detail {
    float: left;
    width: 40%;
    padding-top: 0.5%;
    font-weight: bold;

}
#play-song{
    background: rgba(70, 64, 74, 0.6);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
}
label{
    display: inline-block;
    width: 200px;
    font-size: 20px;
}
#form{
    width: 30%;
    height: 500px;
    position: absolute;
    padding: 20px;
}
#address{
    display: inline-block;
}
.form-input{
    margin: 10px;
}
input{
    border: 1px solid rgba(61,53,249,0.8);
    border-radius: 10px;
    height: 30px;
    line-height: 20px;
    outline: none;
}
.song-player{
    margin: 10px 0;
}